/*
 * Fonts
 */
@import url(https://fonts.googleapis.com/css?family=Signika:400,600,700,300);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);

/*
 * Variables
 */
$orange: #EF7622;
$black-orange: #E57121;
$gray: #585858;
$blue: #08AAB3;
