@import "../../styles/_variables.scss";

/*
 * About
 */
.about {
  .about-intro {
    height: 200px;
    position: relative;
    background: url('/images/about-top.png');

    .about-title {
      position: absolute;
      z-index: 1;
      font-family: Signika;
      font-weight: 200;
      font-size: 36px;
      color: #FFFFFF;
      line-height: 45px;
      width: 100%;
      text-align: center;
      top: 50%;
      margin-top: -28px;

      @media (max-width: 768px) {
        font-size: 26px;
      }
    }
  }

  .about-foundation {
    width: 100%;

    img {
      display: block;
      margin: 50px auto 30px;
    }

    p {
      font-family: Signika;
      font-weight: 200;
      font-size: 16px;
      color: #4A4A4A;
      line-height: 28px;
      width: 65%;
      text-align: center;
      margin: 0 auto 25px;

      @media (max-width: 768px) {
        width: 95%;
        font-size: 14px;
      }
    }

    span {
      display: block;
      text-align: center;
    }

    .goto {
      border: 2px solid #EF7622;
      padding: 10px 21px;
      color: #EF7622;
      font-size: 14px;
      font-weight: 400;
      margin: 33px auto 0;
      width: 197px;
      text-decoration: none;
      display: block;

      &:hover {
        background: $orange;
        color: #fff;
      }
    }
  }

  .video {
      float: left;
      width: 100%;
      padding: 50px;
      margin: 50px 0 0 0;

      @media (max-width: 768px) {
        margin: 20px 0 0 0;
      }

    .video-title {
      font-family: 'Shadows Into Light Two', cursive;
      background: #08AAB3;
      color: #fff;
      padding: 10px;
      width: 363px;
      font-size: 30px;
      position: absolute;
      top: -25px;
      left: 50%;
      text-align: center;
      margin: 0 0 0 -178px;
    }

    .video-container {
      position: relative;
      border: 1px solid #CFCFCF;
      border-bottom: 6px solid #CFCFCF;
      float: left;
      width: 100%;
      padding: 5% 8%;

      .video-player {
        margin: 0 auto;
        display: block;
        width: 100%;
        float: left;
      }

      .award {
        width: 300px;
        margin: 20px auto 0;
        display: block;
      }
    }
  }

  .about-message {
    width: 100%;
    float: left;
    padding: 50px 0;

    @media (max-width: 768px) {
      padding: 0px 0 50px;
    }

    span {
      font-family: 'Shadows Into Light Two', cursive;
      font-size: 30px;
      color: #EF7622;
      line-height: 40px;
      display: block;
      width: 54%;
      margin: 0 auto;
      text-align: center;

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    .donate {
      width: 127px;
      margin: 21px auto 0;
      padding: 10px 21px;
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      background: #EF7622;
      box-shadow: 0px 5px 0px 0px #BA5C1B;
      display: block;
      text-decoration: none;

      &:hover {
        background: $black-orange;
      }
    }
  }

  iframe {
    width: 775px;
    height: 440px;

    @media (max-width: 768px) {
      width: 440px;
      height: 247px;
      margin: 0 auto;
      display: block;
    }

    @media (max-width: 401px) {
      width: 240px;
      height: 135px;
    }
  }
}
