.button-component {
  color: red;
}

.multiselect-component {
	position: relative;

	.auto-mark {
		width: 40px;
	    height: 43px;
	    position: absolute;
	    top: 0px;
	    right: 0px;

	    i {
	    	margin: 11px 0 0 12px;
		    float: left;
		    font-size: 20px;
		    color: #979797;
	    }
	}
}
