@import "../../styles/_variables.scss";

/*
 * playlist
 */

.playlist {
  max-width: 710px;
  margin: 0 auto;

  h2 {
    font-family: 'Shadows Into Light Two', cursive;
      font-size: 36px;
      color: #08AAB3;
      line-height: 100px;
      display: block;
      text-align: center;
      width: 100%;
  }

  ul {
    float: left;
    width: 100%;
    margin: 0 0 100px 0;

    @media (max-width: 768px) {
      padding: 0 10px;
    }

    li {
      float: left;
      width: 100%;
      border-bottom: 1px solid #D7D7D7;
      padding: 14px 0 7px 0;

      &.titles {
        border-bottom: 1px solid #979797;

        .list-title {
          float: left;
          width: 50%;
          font-family: Signika;
          font-weight: 600;
          font-size: 16px;
          color: #4A4A4A;
          line-height: 28px;
        }
      }
    }
  }
}

.help-playlist-container {

  &.open_true {
    .cross {
      transform: rotate(45deg);
    }
  }

  .instructions {
    font-family: icomoon;
    font-size: 14px;
    color: #08AAB3;
    line-height: 14px;
    float: right;
    margin: 20px 0 0 0;

    .cross {
      font-size: 20px;
    }


  }

  .help-playlist {
    background: #08AAB3;

    .wrap-container{
      padding: 50px;
    }

    .title {
      font-family: Signika;
      font-weight: 800;
      font-size: 16px;
      color: #FFFFFF;
      line-height: 28px;
    }

    span {
      display: block;
      clear: both;
      font-family: Signika;
      font-weight: 200;
      font-size: 16px;
      color: #FFFFFF;
      line-height: 28px;
    }

     .got-it {
      width: 93px;
      margin: 20px 0 0 0;
      padding: 12px 21px;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      background: #EF7622;
      box-shadow: 0px 5px 0px 0px #BA5C1B;
      display: block;
      text-decoration: none;

      &:hover {
        background: $black-orange;
      }
    }
  }
}

.footer-playlist {
  position: fixed;
  width: 100%;
  left: 0px;
  bottom: 0px;
  height: 74px;
  background: #EF7622;

  .end {
    top: 0px;
    text-decoration: none;
    cursor: pointer;
    font-size: 19px;
    color: #FFFFFF;
    line-height: 14px;
    width: 200px;
    height: 100%;
    text-align: center;
    padding: 30px;
    right: 0px;
    position: absolute;
    border-left: 1px solid #D4661A;
  }

  .save {
    width: 148px;
    margin: 17px auto;
    padding: 12px 21px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    background: #08AAB3;
    box-shadow: 0px 5px 0px 0px #106D72;
    display: block;
    text-decoration: none

    &:hover {
      background: #09A2AB;
    }
  }

}
