@import "../../styles/_variables.scss";

/*
 * playlist
 */

.playlist {
  max-width: 710px;
  margin: 0 auto;

  h2 {
    font-family: CoveredByYourGrace;
      font-size: 36px;
      color: #08AAB3;
      line-height: 100px;
      display: block;
      text-align: center;
      width: 100%;
  }

  ul {
    float: left;
    width: 100%;

    li {
      float: left;
      width: 100%;
      border-bottom: 1px solid #D7D7D7;
      padding: 14px 0 7px 0;

      &.titles {
        border-bottom: 1px solid #979797;

        .list-title {
          float: left;
          width: 50%;
          font-family: Signika-Semibold;
          font-size: 16px;
          color: #4A4A4A;
          line-height: 28px;
        }
      }
    }
  }
}
